extends layout

block title
  title = title

block heaer
  link(rel='stylesheet', href='/css/index.css?v=2017')
  link(rel='stylesheet', href='/css/codemirror.css?v=2017')
  script(src="/lib/vue.js")
  script(src="/lib/vuex.js")
  script(src="/lib/codemirror.js")
  script(src="/lib/vue-router.min.js")
  script(src="/lib/zepto.min.js")
  script(src="/lib/mode/javascript/javascript.js")

block content
  div(class='main')
block script
  script(src="/js/main.bound.js")
