extends layout

block heaer
  link(rel='stylesheet', href='/css/index.css')
  script(src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js")

block content
  <div id="page-app">
  </div>
block script
  script(src="/js/main.bound.js")
