<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="Stylesheet" type="text/css" href="index.css" />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
</head>
<body>
<div class="container">
    <div class="page-header">

    </div>
</div>
<div class="container">
    <div class="page-main">
        <div class="code-edit code-left">
            <div class="cont">
                <div class='tree'>
                    <div class='tree-title'>路由列表</div>
                    <div class='tree-cont'>
                        
                        <div class="tree-node">
                            <ul>
                                <li>
                                    <span class="checked">
                                        <a class="node-icon jian" href="javascript:;"></a>
                                        <a class='node-name' href='javascript:;'>/(root)</a>
                                    </span>
                                    <div class="tree-node">
                                        <ul>
                                            <li>
                                                <span>
                                                    <a class="node-icon jian" href="javascript:;"></a>
                                                    <a class='node-name' href='javascript:;'>获取用户信息api1</a>
                                                    <span class="node-pre-line"></span>
                                                </span>
                                                <div class="tree-node">
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <a class="node-icon jian" href="javascript:;"></a>
                                                                <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                            </span>
                                                            <div class="tree-node">
                                                                <ul>
                                                                    <li>
                                                                        <span>
                                                                            <a class="node-icon" href="javascript:;"></a>
                                                                            <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                                        </span>
                                                <div class="tree-node">
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <a class="node-icon jian" href="javascript:;"></a>
                                                                <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                            </span>
                                                            <div class="tree-node">
                                                                <ul>
                                                                    <li>
                                                                        <span>
                                                                            <a class="node-icon" href="javascript:;"></a>
                                                                            <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                                <div class="tree-line"></div>
                                                            </div>
                                                            <div class="tree-node">
                                                                <ul>
                                                                    <li>
                                                                        <span>
                                                                            <a class="node-icon" href="javascript:;"></a>
                                                                            <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                                <div class="tree-line"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="tree-line"></div>
                                                </div>
                                                                    </li>
                                                                </ul>
                                                                <div class="tree-line"></div>
                                                            </div>
                                                            <div class="tree-node">
                                                                <ul>
                                                                    <li>
                                                                        <span>
                                                                            <a class="node-icon" href="javascript:;"></a>
                                                                            <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                                <div class="tree-line"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="tree-line"></div>
                                                </div>
                                                <div class="tree-node">
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <a class="node-icon jian" href="javascript:;"></a>
                                                                <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                            </span>
                                                            <div class="tree-node">
                                                                <ul>
                                                                    <li>
                                                                        <span>
                                                                            <a class="node-icon" href="javascript:;"></a>
                                                                            <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                                <div class="tree-line"></div>
                                                            </div>
                                                            <div class="tree-node">
                                                                <ul>
                                                                    <li>
                                                                        <span>
                                                                            <a class="node-icon" href="javascript:;"></a>
                                                                            <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                                <div class="tree-line"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="tree-line"></div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="tree-line"></div>
                                    </div>

                                    <div class="tree-node">
                                        <ul>
                                            <li>
                                                <span>
                                                    <a class="node-icon jian" href="javascript:;"></a>
                                                    <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                </span>
                                                <div class="tree-node" >
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <a class="node-icon" href="javascript:;"></a>
                                                                <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    <div class="tree-line"></div>
                                                </div>
                                                <div class="tree-node">
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <a class="node-icon" href="javascript:;"></a>
                                                                <a class='node-name' href='javascript:;'>获取用户信息api</a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    <div class="tree-line"></div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="tree-line"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="tree-line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cont edit">

            </div>
        </div>
        <div class="code-edit code-right">
            <div class="cont">

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-footer">

    </div>
</div>
<script src="index.js"></script>
</body>
</html>