* {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Lato,Microsoft YaHei,Arial;
}
a {
  color: #FEFEFE;
  text-decoration: none;
}
li {
  list-style: none;
}
.hide {
  display: none;
}
