.page-header {
  position: relative;
  height: 50px;
  background: #193245;
  border-bottom: 1px solid #101219;
}
.page-header .page-logo {
  position: relative;
  top: 5px;
  left: 8px;
  height: 37px;
}
