* {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Lato,Microsoft YaHei,Arial;
}
a {
  color: #FEFEFE;
  text-decoration: none;
}
li {
  list-style: none;
}
.hide {
  display: none;
}
.page-header {
  position: relative;
  height: 50px;
  background: #32404b;
  border-bottom: 1px solid #101219;
}
.page-header .page-logo {
  position: relative;
  top: 7px;
  left: 8px;
  height: 37px;
}
.page-main {
  position: fixed;
  top: 51px;
  bottom: 26px;
  left: 50px;
  width: 100%;
  background: #252526;
  color: #fff;
}
.page-main .code-edit {
  position: relative;
  box-sizing: border-box;
  height: 100%;
}
.page-main .code-edit > div.cont {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  background: #1b1b1b;
}
.page-main .code-left {
  width: 320px;
  float: left;
}
.page-main .code-left .tree {
  height: 100%;
  width: 100%;
}
.page-main .code-left .tree .tree-title {
  line-height: 30px;
  padding: 0 10px;
  background: #2e0101;
  border: 1px solid #381616;
  color: #b3b6b8;
  font-size: 14px;
}
.page-main .code-left .tree .tree-title ol {
  position: absolute;
  right: 0px;
  top: 0px;
}
.page-main .code-left .tree .tree-title ol li {
  margin-right: 5px;
}
.page-main .code-left .tree .tree-title ol li a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(/images/icon/route-add.png) no-repeat;
  text-indent: -9999px;
  background-position-y: center;
}
.page-main .code-left .tree .tree-cont {
  position: absolute;
  top: 32px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow-y: auto;
  box-sizing: border-box;
  font-size: 13px;
}
.page-main .code-left .tree .tree-cont .tree-node {
  position: relative;
  line-height: 25px;
  overflow: hidden;
}
.page-main .code-left .tree .tree-cont .tree-node .node-icon {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../images/jia.png) no-repeat;
  background-size: 12px 12px;
  vertical-align: middle;
}
.page-main .code-left .tree .tree-cont .tree-node .node-name {
  font-size: 14px;
}
.page-main .code-left .tree .tree-cont .tree-node .node-name i {
  font-size: 12px;
  color: #555555;
  font-style: normal;
  margin-left: 6px;
}
.page-main .code-left .tree .tree-cont .tree-node .node-name ins {
  font-size: 12px;
  color: #3894dc;
  text-decoration: none;
}
.page-main .code-left .tree .tree-cont .tree-node .jian {
  background: url(../images/jian.png) no-repeat;
  background-size: 12px 12px;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li {
  position: relative;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li .active {
  background: #1c3a52;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li > .tree-node {
  margin-left: 22px;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li span {
  position: relative;
  padding-left: 5px;
  display: inline-block;
  width: 100%;
  height: 25px;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li span .node-pre-line {
  position: absolute;
  top: 12px;
  left: -12px;
  height: 1px;
  border-top: 1px dashed #423a3a;
  width: 10px;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li > span.checked {
  background: #161616;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li > span:not(.active):hover {
  background: #121111;
}
.page-main .code-left .tree .tree-cont .tree-node > .tree-line {
  width: 12px;
  position: absolute;
  top: 26px;
  left: 12px;
  bottom: 12px;
  border-left: 1px dashed #777777;
  border-bottom: 1px dashed #777777;
}
.page-main .code-left .tree .tree-cont .tree-node .new-input {
  display: inline-block;
  border: 1px solid #53e91e;
  margin-left: 5px;
  font-size: 14px;
}
.page-main .code-left .tree .tree-cont .tree-node .cancel-input {
  position: relative;
  /* right: -15px; */
  width: 16px;
  height: 23px;
  /* display: inline-block; */
  top: 0px;
  background: #1b1b1b;
}
.page-main .code-left .card-bar {
  position: absolute;
  display: block;
  z-index: 1;
  cursor: w-resize;
  right: -2px;
  top: 0px;
  width: 2px;
  height: 100%;
  user-selection: none;
}
.page-main .code-left .card-bar:hover {
  background: #363633;
}
.page-main .code-right {
  padding: 0 0 0 0px;
  top: 0px;
  overflow: hidden;
}
.page-main .code-right div.cont {
  background: #272822;
}
.left-bar {
  position: fixed;
  left: 0px;
  top: 51px;
  width: 50px;
  height: 100%;
  background: #1b2832;
}
.left-bar li {
  text-align: center;
}
.left-bar li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.left-bar li.top-btn a {
  padding: 5px 0;
}
.left-bar li.active {
  background: #111111;
}
.left-bar li:not(.active):hover {
  background: #370f0f;
}
.page-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 25px;
  background: rgba(176, 176, 176, 0.98);
  border-top: 1px solid #2b2b2b;
}
