* {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Lato,Microsoft YaHei,Arial;
}
a {
  color: #FEFEFE;
  text-decoration: none;
}
li {
  list-style: none;
}
.hide {
  display: none;
}
.page-header {
  position: relative;
  height: 50px;
  background: #193245;
  border-bottom: 1px solid #101219;
}
.page-header .page-logo {
  position: relative;
  top: 5px;
  left: 8px;
  height: 37px;
}
.page-main {
  position: fixed;
  z-index: 20;
  top: 51px;
  bottom: 26px;
  left: 50px;
  right: 0px;
  background: #252526;
  color: #fff;
}
.page-main .code-edit {
  position: relative;
  box-sizing: border-box;
  height: 100%;
}
.page-main .code-edit > div.cont {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}
.page-main .code-left {
  width: 320px;
  box-sizing: border-box;
  float: left;
}
.page-main .code-left > div.cont {
  background: #252526;
}
.page-main .code-left .tree {
  height: 100%;
  width: 100%;
}
.page-main .code-left .tree .tree-title {
  line-height: 30px;
  padding: 0 10px;
  background: #333333;
  border: 1px solid #211d1d;
  color: #b3b6b8;
  font-size: 14px;
}
.page-main .code-left .tree .tree-title ol {
  position: absolute;
  right: 0px;
  top: 0px;
}
.page-main .code-left .tree .tree-title ol li {
  margin-right: 5px;
}
.page-main .code-left .tree .tree-title ol li a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(/images/icon/route-add.png) no-repeat;
  text-indent: -9999px;
  background-position-y: center;
}
.page-main .code-left .tree .tree-cont {
  position: absolute;
  top: 32px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow-y: auto;
  box-sizing: border-box;
  font-size: 13px;
}
.page-main .code-left .tree .tree-cont .tree-node {
  position: relative;
  line-height: 25px;
  overflow: hidden;
}
.page-main .code-left .tree .tree-cont .tree-node .node-icon {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../images/jia.png) no-repeat;
  background-size: 12px 12px;
  vertical-align: middle;
}
.page-main .code-left .tree .tree-cont .tree-node .node-name {
  font-size: 14px;
}
.page-main .code-left .tree .tree-cont .tree-node .node-name i {
  font-size: 12px;
  color: #555555;
  font-style: normal;
  margin-left: 6px;
}
.page-main .code-left .tree .tree-cont .tree-node .node-name ins {
  font-size: 12px;
  color: #3894dc;
  text-decoration: none;
}
.page-main .code-left .tree .tree-cont .tree-node .jian {
  background: url(../images/jian.png) no-repeat;
  background-size: 12px 12px;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li {
  position: relative;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li .active {
  background: #1c3a52;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li > .tree-node {
  margin-left: 22px;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li span {
  position: relative;
  padding-left: 5px;
  display: inline-block;
  width: 100%;
  height: 25px;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li span .node-pre-line {
  position: absolute;
  top: 12px;
  left: -12px;
  height: 1px;
  border-top: 1px dashed #423a3a;
  width: 10px;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li > span.checked {
  background: #161616;
}
.page-main .code-left .tree .tree-cont .tree-node > ul > li > span:not(.active):hover {
  background: #121111;
}
.page-main .code-left .tree .tree-cont .tree-node > .tree-line {
  width: 12px;
  position: absolute;
  top: 26px;
  left: 12px;
  bottom: 12px;
  border-left: 1px dashed #777777;
  border-bottom: 1px dashed #777777;
}
.page-main .code-left .tree .tree-cont .tree-node .new-input {
  display: inline-block;
  border: 1px solid #53e91e;
  margin-left: 5px;
  font-size: 14px;
}
.page-main .code-left .tree .tree-cont .tree-node .cancel-input {
  position: relative;
  /* right: -15px; */
  width: 16px;
  height: 23px;
  /* display: inline-block; */
  top: 0px;
}
.page-main .code-left .card-bar {
  position: absolute;
  display: block;
  z-index: 1;
  cursor: w-resize;
  right: -2px;
  top: 0px;
  width: 2px;
  height: 100%;
  user-selection: none;
}
.page-main .code-left .card-bar:hover {
  background: #363633;
}
.code-right {
  box-sizing: border-box;
  padding: 0 0 0 0px;
  top: 0px;
  overflow: hidden;
  border-left: 3px solid #2c2e2e;
}
.code-right div.cont {
  position: relative;
  background: #272822;
}
.code-right div.cont .edit-space {
  height: 100%;
  position: relative;
}
.code-right div.cont .edit-space .route-edit-main {
  position: absolute;
  top: 33px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  line-height: 30px;
}
.code-right div.cont .edit-space .route-edit-main .route-editor {
  width: 100%;
  height: 100%;
}
.code-right div.cont .edit-space .route-edit-main .work-space {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 160px;
  border-left: 1px solid #45484a;
  border-bottom: 1px solid #45484a;
}
.code-right div.cont .edit-space .route-edit-main .work-space .work-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.code-right div.cont .edit-space .route-edit-main .work-space .work-main .editor-title {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #6d6a6a;
}
.code-right div.cont .edit-space .route-edit-main .work-space .work-main .editor {
  position: absolute;
  top: 30px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #1d1e1a;
}
.code-right div.cont .edit-space .route-edit-main .work-space .work-main .editor textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  resize: none;
}
.code-right div.cont .edit-space .route-edit-main .edit-title {
  position: relative;
  float: right;
  height: 100%;
  width: 160px;
  background: #333333;
  border-left: 1px solid #45484a;
}
.code-right div.cont .edit-space .route-edit-main .edit-title ul > li {
  font-size: 15px;
  background: #333333;
  border: 1px solid #333333;
}
.code-right div.cont .edit-space .route-edit-main .edit-title ul > li > a {
  font-size: 15px;
  display: block;
  text-align: left;
  padding: 0 15px;
  line-height: 45px;
}
.code-right div.cont .edit-space .route-edit-main .edit-title ul > li > a > i {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  background: url(/images/icon/icons.png) no-repeat;
  background-position: -25px 0px;
}
.code-right div.cont .edit-space .route-edit-main .edit-title ul > li a:hover {
  background: #370f0f;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .sub-items {
  display: none;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .active {
  position: relative;
  left: -1px;
  border: 1px solid #45484a;
  background: #272822;
  border-left: none;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .active > a {
  color: #fff;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .active a:hover {
  background: none;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .active .sub-items {
  display: block;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .active .sub-items li {
  line-height: 45px;
  border: 1px solid #272822;
  background: #272822;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .active .sub-items li a {
  display: block;
  font-size: 15px;
  text-align: center;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .active .sub-items li a i {
  display: none;
  margin-right: 8px;
  width: 28px;
  height: 28px;
  background: url(/images/icon/icons.png) no-repeat;
  background-position: -73px 5px;
  vertical-align: middle;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .active .sub-items li.cur {
  position: relative;
  background: #1d1e1a;
  border: 1px solid #2e2f29;
  border-left: none;
  margin-bottom: 10px;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .active .sub-items li.cur a {
  color: #ed4848;
  text-align: left;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .active .sub-items li.cur a i {
  display: inline-block;
}
.code-right div.cont .edit-space .route-edit-main .edit-title li.cur.active {
  position: relative;
  left: -1px;
  border: 1px solid #45484a;
  background: #272822;
  border-left: none;
}
.code-right div.cont .edit-space .route-edit-main .edit-title .first {
  position: relative;
  top: -1px;
}
.code-right div.cont .edit-space .method-tab {
  position: relative;
  padding: 2px 0px 0 10px;
  background: #333333;
  border-bottom: 1px solid #45484a;
}
.code-right div.cont .edit-space .method-tab .method-btn {
  display: inline-block;
  line-height: 28px;
  padding: 0 20px;
  border: 1px solid #19354c;
  color: #fff;
  background: #05253f;
  border-bottom: none;
  margin-right: 5px;
}
.code-right div.cont .edit-space .method-tab .method-btn:not(.more-add):not(.active):hover {
  background: #2e0101;
}
.code-right div.cont .edit-space .method-tab .active {
  position: relative;
  z-index: 1;
  background: #272822;
  color: #ffffff;
  border: 1px solid #45484a;
  top: 1px;
  border-bottom: 1px solid #272822;
}
.code-right div.cont .edit-space .method-tab .more-add {
  position: relative;
  line-height: 23px;
  padding: 0 10px;
  background: #2c2c29;
  border: 1px solid #23241e;
  box-shadow: -1px -1px #121212;
}
.code-right div.cont .edit-space .method-tab .more-add:hover {
  box-shadow: 2px 2px #121212;
}
.code-right div.cont .tab-select-box {
  position: absolute;
  border: 1px solid #333333;
  right: 145px;
  top: 2px;
  z-index: 21;
}
.code-right div.cont .tab-select-box li {
  line-height: 25px;
  font-size: 14px;
  text-align: left;
  padding: 0 20px;
}
.code-right div.cont .tab-select-box li a {
  font-size: 15px;
}
.code-right div.cont .tab-select-box .current-edit {
  border: 1px solid #333333;
}
.code-right div.cont .tab-select-box .current-edit a {
  color: #ddd;
}
.code-right div.cont .tab-select-box .edit-select {
  position: relative;
  line-height: 30px;
}
.code-right div.cont .tab-select-box .edit-select i {
  position: absolute;
  left: 3px;
  top: 2px;
  color: red;
  font-size: 16px;
}
.code-right div.cont .tab-select-box .edit-select.hide {
  display: none;
}
.code-right div.cont .tab-select-box .showMenu.current-edit {
  border: 1px solid #032540;
  background: #051d30;
}
.code-right div.cont .tab-select-box .showMenu.edit-select {
  background: #082135;
  padding: 0 20px;
}
.code-right div.cont .tab-select-box .showMenu.edit-select a {
  color: #fff;
}
.code-right div.cont .tab-select-box .edit-select.active {
  background: #010f1b;
}
.code-right div.cont .tab-select-box .showMenu.edit-select:not(.active):hover {
  background: #370f0f;
}
.code-right div.cont .tab-select-box .showMenu.edit-select:not(.active):hover a {
  color: #ddd;
}
.code-right div.cont .tab-select-box.show {
  border: 1px solid #19354c;
}
.code-right.sizefull {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.left-bar {
  position: fixed;
  left: 0px;
  top: 51px;
  width: 50px;
  height: 100%;
  background: #141414;
  box-shadow: 2px 0px 3px #201e1e;
  -moz-box-shadow: 2px 0px 3px #201e1e;
}
.left-bar li {
  text-align: center;
}
.left-bar li a {
  display: block;
  padding: 10px 0;
}
.left-bar li.top-btn a {
  padding: 5px 0;
}
.left-bar li.active {
  background: #1e3b52;
}
.left-bar li:not(.active):hover {
  background: #370f0f;
}
.page-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 25px;
  background: rgba(176, 176, 176, 0.98);
  border-top: 1px solid #2b2b2b;
}
.CodeMirror-vscrollbar::-webkit-file-upload-button,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3) inset;
}
.CodeMirror {
  font-family: monospace;
  height: 100%;
  color: black;
}
